.events-container {
  display: flex;
  align-items: flex-start;
  background-color: #3a4b63;
}

.events-content {
  width: 60%;
  height: 100vh;
  padding-top: 28px;
  padding-right: 4px;
  padding-bottom: 48px;
  padding-left: 48px;
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  margin-bottom: 28px;
}
.heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2px;
  margin: 0px;
}

.own {
  color: white;
  font-weight: 600;
  padding-right: 44px;
}

.events-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  padding-left: 0px;
}
